.index_header, .eb_footer, #form_wrapper{
    text-align: center;
}


#form_wrapper {
    width: 450px;
    margin: 0 auto;
}

.header_wrapper {
    width: 100%;
    display: inline-block;
}

.header_left, .header_right {
    width: 48%;
}

.header_left {
    text-align: left;
    float: left;
}

.header_right {
    text-align: right;
    float: right;
}

.pagination {
    width: 100%;
    margin: 0 auto;
}

#eb_results {
    border: 1px;
}

#eb_results tbody tr {
    margin-bottom: 10px;
}

.current {
    padding-left: 15px;
    padding-right: 15px;
}