{% extends "home.html" %}

{% block title %}Settings{% endblock %}

<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-datetimepicker.min.css">

{% block body %}
<div class="container" id="home">
  <div align="center">
    <div style="margin-top:5%">
      <h2 class="type"><u>Settings</u></h2>
      
      <div class="container type" style="margin-top:2%">
	<div class="col-md-4 col-md-offset-4">
	  
	  <form method="POST">
	    
	    <div class="form-group">
	      <h3>Price</h3>
	      <label class="checkbox-inline">
		<input type="checkbox" name="$" value="">$
	      </label>
	      <label class="checkbox-inline">
		<input type="checkbox" name="$$" value="">$$
	      </label>
	      <label class="checkbox-inline">
		<input type="checkbox" name="$$$" value="">$$$
	      </label>
	      <label class="checkbox-inline">
		<input type="checkbox" name="$$$$" value="">$$$$
	      </label>
	    </div>
	    <div class="form-group">
	      <h3>Type</h3>
	      <input type="text" class="form-control input-lg" name="type" placeholder="type">
	    </div>
	    <br>
	    <div class="form-group">
	      <h3>Date Range (yyyy-mm-dd--yyyy-mm-dd for now)</h3>
              <div class="input-group date" id="datetimepicker1">
		<input type="text" class="form-control" name="date">
		<span class="input-group-addon">
                  <span class="glyphicon glyphicon-calendar"></span>
		</span>
              </div>
	    </div>
	    <br>
	    <div class="form-group">
	      <h3>Location (lat,long,radius for now)</h3>
	      <input type="text" class="form-control input-lg" name="location" placeholder="type">
	    </div>

	    <div id="map" style="width: 250px; height: 200px">
	    </div>

	    <div class="buttons" style="margin-top:5%">
	      <input class="btn btn-warning btn-lg" type="submit" name="submit" value="Let's Go!" style="float:left">
	    </div>

	  </form>

	  <form method="POST">
	    <div class="buttons" style="margin-top:5%">
	      <input class="btn btn-warning btn-lg" type="submit" name="random" value="Randomize">
	    </div>
	  </form>
	  
	</div>
      </div>
    </div>
  </div>
</div>
<script src="../static/js/map.js">
</script>
<script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>

{% endblock %}
